# Auto detect text files and perform LF normalization
* text=auto
const arr = [[1, 0, 0, 1, 0],
[2, 3, 1, 4, 5],
[1, 1, 2, 4, 5],
[1, 2, 3, 4, 5]];
const arr2 = [[4, 5], [4, 5]];

function contemSubMatriz(arr, arr2) {
  
  // Percorre todas as posições possíveis na matriz arr
  for (let i = 0; i <= arr.length - arr2.length; i++) {
    for (let j = 0; j <= arr[0].length - arr2[0].length; j++) {

      let igual = true;

      // Verifica se a submatriz coincide
      for (let x = 0; x < arr2.length; x++) {
        for (let y = 0; y < arr2[0].length; y++) {
          if (arr[i + x][j + y] !== arr2[x][y]) {
            igual = false;
            break;
          }
        }
        if (!igual) break;
      }

      if (igual) return true;
    }
  }

  return false;
}

console.log();
console.log('contemSubMatriz(arr,arr2)=', contemSubMatriz(arr, arr2));
console.log();
console.log(arr.length);
console.log();
console.log(arr2.length);
console.log();
console.log('arr.length - arr2.length=',arr.length - arr2.length);
console.log();
console.log('arr[0].length=',arr[0].length);
console.log();
console.log('arr2[0].length=', arr2[0].length);
console.log();
console.log('arr[0].length - arr2[0].length=', arr[0].length - arr2[0].length);
console.log();
console.log('arr[0]=',arr[0]);
console.log();
console.log('arr2[0]=',arr2[0]);

